#shape-canvas{
    position: relative;
    height: 600px;
    width: 600px;
    background-color: #526760;
}

.square {
    position: absolute;
    background-color: palevioletred;

}

.circle {
    position: absolute;
    background-color: mediumpurple;
    border-radius: 50%;
}

.rectangle{
    position: absolute;
    background-color: palegreen;
}

.triangle{
    position: absolute;


}

body {
    background-color: cornflowerblue;
}

#stats {
    background-color: darkgray;
    padding-top:15px;
    padding-bottom: 15px;
}

#shape-name{
    text-transform: capitalize;
}

