#shape-canvas{
    position: relative;
    height: 600px;
    width: 600px;
    background-color: black;
}

.square {
    position: absolute;
    background-color: red;

}

.circle {
    position: absolute;
    background-color: purple;
    border-radius: 50%;
}

.rectangle{
    position: absolute;
    background-color: green;
}

.triangle{
    position: absolute;


}

