#shapeCanvas{
    position: relative;
    height: 600px;
    width: 600px;
    background-color: brown;
}

.square {
    position: absolute;
    background-color: black;

}

.circle {
    position: absolute;
    background-color: blue;
    border-radius: 50%;
}

.rectangle{
    position: absolute;
    background-color: blueviolet;
}

.triangle{
    position: absolute;


}